<footer class="footer-section">
    <div class="footer-top-wrap bg-grey">
        <div class="container">
            <div class="footer-top">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="brand">
                            <a class="footer-logo" href="/"><img src="/assets/img/logo-light.png" alt="logo"></a>
                            <p><%= t('footer.description') %></p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer-call">
                            <i class="las la-phone-volume"></i>
                            <p><span><%= t('footer.callForTaxi') %></span><a href="tel:5267214392">5267-214-392</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.footer-top-wrap-->
    <div class="footer-mid-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="footer-item">
                        <div class="widget-title">
                            <h3><%= t('footer.workingHours') %></h3>
                        </div>
                        <ul class="footer-contact">
                            <li><span><%= t('footer.mondayFriday') %></span>9.00am To 8.00pm</li>
                            <li><span><%= t('footer.saturday') %></span>10.00am To 7.30pm</li>
                            <li><span><%= t('footer.sunday') %></span><%= t('footer.closeDay') %></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="footer-item footer-list">
                        <div class="widget-title">
                            <h3><%= t('footer.usefulLinks') %></h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="/book-taxi"><%= t('footer.taxiBooking') %></a></li>
                            <li><a href="/faqs"><%= t('footer.helpCenter') %></a></li>
                            <li><a href="/about"><%= t('footer.privacyPolicy') %></a></li>
                            <li><a href="/about/company"><%= t('footer.terms') %></a></li>
                            <li><a href="/contact"><%= t('footer.contactUs') %></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="footer-item">
                        <div class="widget-title">
                            <h3><%= t('footer.headOffice') %></h3>
                        </div>
                        <ul class="footer-contact">
                            <li><span><%= t('footer.location') %></span>153 Williamson Plaza, Maggieberg, MT 09514</li>
                            <li><span><%= t('footer.joinUs') %></span>Info@YourGmail24.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="footer-item subscribe-wrap">
                        <div class="widget-title">
                            <h3><%= t('footer.newsletter') %></h3>
                        </div>
                        <form action="#" class="subscribe-form">
                            <input class="form-control" type="email" name="email" placeholder="<%= t('footer.yourEmail') %>" required="">
                            <input type="hidden" name="action" value="mailchimpsubscribe">
                            <button class="submit"><%= t('footer.subscribeNow') %></button>
                            <div class="clearfix"></div>
                            <div id="subscribe-result">
                                <div class="subscription-success"></div>
                                <div class="subscription-error"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="running-taxi">
            <div class="taxi"></div>
            <div class="taxi-2"></div>
            <div class="taxi-3"></div>
        </div>
    </div>
    <!--/.footer-mid-wrap-->
    <div class="copyright-wrap">
        <div class="container">
            <% const rawCopyrightUrl = t('footer.copyrightSiteUrl', 'https://systemsolveit.com'); %>
            <% const safeCopyrightUrl = /^https?:\/\//i.test(rawCopyrightUrl) ? rawCopyrightUrl : 'https://systemsolveit.com'; %>
            <p>
                © <span id="currentYear"></span>
                <a class="copyright-brand-link" href="<%= safeCopyrightUrl %>" target="_blank" rel="noopener noreferrer"><%= t('footer.copyrightSiteName', 'SystemSolveIT') %></a>
                <span><%= t('footer.copyrightNotice', t('footer.copyrightSuffix', 'Alle rechten voorbehouden.')) %></span>
            </p>
        </div>
    </div>
    <!--/.copyright-wrap-->
</footer>
<!--/.footer-section-->

<div id="scrollup">
    <button id="scroll-top" class="scroll-to-top">
        <i class="las la-arrow-up"></i>
    </button>
</div>
<!--scrollup-->

<div class="dl-cursor">
    <div class="cursor-icon-holder"><i class="las la-times"></i></div>
</div>
<!--/.dl-cursor-->

<!--jQuery Lib-->
<script src="/assets/js/vendor/jquary-3.6.0.min.js"></script>
<script src="/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<script src="/assets/js/vendor/jquery.ajaxchimp.min.js"></script>
<script src="/assets/js/vendor/popper.min.js"></script>
<script src="/assets/js/vendor/bootstrap.min.js"></script>
<script src="/assets/js/vendor/swiper.min.js"></script>
<script src="/assets/js/vendor/jquery.datetimepicker.full.js"></script>
<script src="/assets/js/vendor/jquery.nice-select.min.js"></script>
<script src="/assets/js/vendor/venobox.min.js"></script>
<script src="/assets/js/vendor/smooth-scroll.js"></script>
<script src="/assets/js/vendor/wow.min.js"></script>
<script src="/assets/js/book-ride.js"></script>
<script src="/assets/js/main.js"></script>
</body>

</html>
