<%- include('../../shared/partials/legacy-head') %>
<%- include('../../shared/partials/legacy-header-nav') %>

<section class="page-header">
        <div class="page-header-shape"></div>
        <div class="container">
            <div class="page-header-info">
                <h4><%= t('pages.users.drivers.list.service_details', 'Service Details!') %></h4>
                <h2><%= t('pages.users.drivers.list.our_expert_drivers_will', 'Our expert drivers will') %> <br><%= t('pages.users.drivers.list.make_your', 'make your') %> <span><%= t('pages.users.drivers.list.ride_safe', 'Ride Safe!') %></span></h2>
                <p><%= t('pages.users.drivers.list.everything_your_taxi_business', 'Everything your taxi business') %> <br><%= t('pages.users.drivers.list.needs_is_already_here', 'needs is already here!') %> </p>
            </div>
        </div>
    </section>
    <!--/.page-header-->

    <section class="team-section padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 padding-15">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="/assets/img/team-1.jpg" alt="thumb">
                        </div>
                        <div class="team-content">
                            <h3><a href="/drivers/details"><%= t('pages.users.drivers.list.f_lix_lengyel', 'Félix Lengyel') %></a></h3>
                            <h4><%= t('pages.users.drivers.list.bmw_x5_2008', 'BMW X5 2008') %></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 padding-15">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="/assets/img/team-2.jpg" alt="thumb">
                        </div>
                        <div class="team-content">
                            <h3><a href="/drivers/details"><%= t('pages.users.drivers.list.henry_nathan', 'Henry Nathan') %></a></h3>
                            <h4><%= t('pages.users.drivers.list.mercedes_benz', 'Mercedes‑Benz') %></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 padding-15">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="/assets/img/team-3.jpg" alt="thumb">
                        </div>
                        <div class="team-content">
                            <h3><a href="/drivers/details"><%= t('pages.users.drivers.list.brandon_larned', 'Brandon Larned') %></a></h3>
                            <h4><%= t('pages.users.drivers.list.hyundai_2022', 'Hyundai 2022') %></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 padding-15">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="/assets/img/team-4.jpg" alt="thumb">
                        </div>
                        <div class="team-content">
                            <h3><a href="/drivers/details"><%= t('pages.users.drivers.list.sasha_hostyn', 'Sasha Hostyn') %></a></h3>
                            <h4><%= t('pages.users.drivers.list.toyota_xcorola', 'Toyota XCorola') %></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 padding-15">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="/assets/img/team-5.jpg" alt="thumb">
                        </div>
                        <div class="team-content">
                            <h3><a href="/drivers/details"><%= t('pages.users.drivers.list.fede_sarmiento', 'Fede Sarmiento') %></a></h3>
                            <h4><%= t('pages.users.company.about-company.toyota_xcorola', 'Toyota XCorola') %></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 padding-15">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="/assets/img/team-6.jpg" alt="thumb">
                        </div>
                        <div class="team-content">
                            <h3><a href="/drivers/details"><%= t('pages.users.drivers.list.mauricio_fern_ndez', 'Mauricio Fernández') %></a></h3>
                            <h4><%= t('home.pricing.carHyundai', 'Hyundai 2022') %></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 padding-15">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="/assets/img/team-7.jpg" alt="thumb">
                        </div>
                        <div class="team-content">
                            <h3><a href="/drivers/details"><%= t('pages.users.drivers.list.javier_f_ar_balo', 'Javier F. Arébalo') %></a></h3>
                            <h4><%= t('pages.users.company.about-company.mercedes_benz', 'Mercedes‑Benz') %></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 padding-15">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="/assets/img/team-8.jpg" alt="thumb">
                        </div>
                        <div class="team-content">
                            <h3><a href="/drivers/details"><%= t('pages.users.drivers.list.mart_n_nonalaya', 'Martín Nonalaya') %></a></h3>
                            <h4><%= t('home.pricing.carBmw', 'BMW X5 2008') %></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/.team-section-->

    <%- include('../../shared/partials/legacy-footer') %>
