<%- include('../../shared/partials/legacy-head') %>
<%- include('../../shared/partials/legacy-header-nav') %>

<section class="page-header">
        <div class="page-header-shape"></div>
        <div class="container">
            <div class="page-header-info">
                <h4><%= t('pages.company.aboutCompany.header.eyebrow') %></h4>
                <h2><%= t('pages.company.aboutCompany.header.titleLine1') %> <br> <%= t('pages.company.aboutCompany.header.titleLine2') %> <span><%= t('pages.company.aboutCompany.header.titleBrand') %></span></h2>
                <p><%= t('pages.company.aboutCompany.header.description') %></p>
            </div>
        </div>
    </section>
    <!--/.page-header-->

    <section class="about-section padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="section-heading mb-40">
                        <h4><span></span><%= t('home.about.eyebrow') %></h4>
                        <h2><%= t('home.about.title') %></h2>
                        <p><%= t('home.about.description') %></p>
                    </div>
                    <!--/.section-heading-->
                    <ul class="about-info">
                        <li>
                            <img class="owner-thumb" src="/assets/img/comment-1.png" alt="thumb">
                            <div class="owner">
                                <h4><%= t('home.about.founderTitle') %></h4>
                                <img class="signature" src="/assets/img/signature.png" alt="signature">
                            </div>
                        </li>
                        <li>
                            <h2><span><%= t('home.about.callForTaxi') %></span><a href="tel:5267214392">5267-214-392</a></h2>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="video-box-inner">
                        <img src="/assets/img/about-3.jpg" alt="thumb">
                        <div class="video-box">
                            <img src="/assets/img/about-1.png" alt="thumb">
                            <a data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=lrf-GAYUOkQ" class="dl-video-popup play-btn">
                                <svg enable-background="new 0 0 41.999 41.999" version="1.1" viewBox="0 0 41.999 41.999" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M36.068,20.176l-29-20C6.761-0.035,6.363-0.057,6.035,0.114C5.706,0.287,5.5,0.627,5.5,0.999v40  c0,0.372,0.206,0.713,0.535,0.886c0.146,0.076,0.306,0.114,0.465,0.114c0.199,0,0.397-0.06,0.568-0.177l29-20  c0.271-0.187,0.432-0.494,0.432-0.823S36.338,20.363,36.068,20.176z M7.5,39.095V2.904l26.239,18.096L7.5,39.095z"></path>
                                </svg>
                                <div class="ripple"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/.about-section-->

    <section class="service-section bg-grey bd-bottom padding">
        <div class="bg-half"></div>
        <div class="container">
            <div class="section-heading text-center mb-40">
                <h4><span></span><%= t('home.services.eyebrow') %></h4>
                <h2 class="white"><%= t('home.services.titleStart') %><br><%= t('home.services.titleEnd') %></h2>
                <p><%= t('home.services.description') %></p>
            </div>
            <!--/.section-heading-->
            <div class="swiper-outside">
                <div class="service-carousel">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="service-item">
                                <div class="service-thumb">
                                    <img src="/assets/img/service-1.jpg" alt="img">
                                    <div class="service-shape-wrap">
                                        <div class="service-shape"></div>
                                    </div>
                                    <div class="service-car"><img src="/assets/img/car-1.png" alt="car"></div>
                                </div>
                                <div class="service-content">
                                    <h3><a href="/services/details"><%= t('home.services.regularTransport') %></a></h3>
                                    <p><%= t('home.services.itemDescription') %></p>
                                    <a class="read-more" href="/services/details"><%= t('home.services.readMore') %></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="service-item">
                                <div class="service-thumb">
                                    <img src="/assets/img/service-2.jpg" alt="img">
                                    <div class="service-shape-wrap">
                                        <div class="service-shape"></div>
                                    </div>
                                    <div class="service-car"><img src="/assets/img/car-1.png" alt="car"></div>
                                </div>
                                <div class="service-content">
                                    <h3><a href="/services/details"><%= t('home.services.airportTransport') %></a></h3>
                                    <p><%= t('home.services.itemDescription') %></p>
                                    <a class="read-more" href="/services/details"><%= t('home.services.readMore') %></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="service-item">
                                <div class="service-thumb">
                                    <img src="/assets/img/service-3.jpg" alt="img">
                                    <div class="service-shape-wrap">
                                        <div class="service-shape"></div>
                                    </div>
                                    <div class="service-car"><img src="/assets/img/car-1.png" alt="car"></div>
                                </div>
                                <div class="service-content">
                                    <h3><a href="/services/details"><%= t('home.services.luggageTransport') %></a></h3>
                                    <p><%= t('home.services.itemDescription') %></p>
                                    <a class="read-more" href="/services/details"><%= t('home.services.readMore') %></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="service-item">
                                <div class="service-thumb">
                                    <img src="/assets/img/service-4.jpg" alt="img">
                                    <div class="service-shape-wrap">
                                        <div class="service-shape"></div>
                                    </div>
                                    <div class="service-car"><img src="/assets/img/car-1.png" alt="car"></div>
                                </div>
                                <div class="service-content">
                                    <h3><a href="/services/details"><%= t('home.services.cityTransport') %></a></h3>
                                    <p><%= t('home.services.itemDescription') %></p>
                                    <a class="read-more" href="/services/details"><%= t('home.services.readMore') %></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="service-item">
                                <div class="service-thumb">
                                    <img src="/assets/img/service-5.jpg" alt="img">
                                    <div class="service-shape-wrap">
                                        <div class="service-shape"></div>
                                    </div>
                                    <div class="service-car"><img src="/assets/img/car-1.png" alt="car"></div>
                                </div>
                                <div class="service-content">
                                    <h3><a href="/services/details"><%= t('home.services.businessTransport') %></a></h3>
                                    <p><%= t('home.services.itemDescription') %></p>
                                    <a class="read-more" href="/services/details"><%= t('home.services.readMore') %></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div><!-- Carousel Dots -->
                </div>
                <!-- Carousel Arrows -->
                <div class="swiper-nav swiper-next"><i class="las la-long-arrow-alt-right"></i></div>
                <div class="swiper-nav swiper-prev"><i class="las la-long-arrow-alt-left"></i></div>
            </div>
        </div>
    </section>
    <!--/.service-section-->

    <section class="testimonial-section bg-grey">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section-heading mb-10">
                        <h4><span></span><%= t('home.testimonial.eyebrow') %></h4>
                        <h2><%= t('home.testimonial.title') %></h2>
                        <p><%= t('home.testimonial.description') %></p>
                    </div>
                    <div class="swiper-outside testi-pagination">
                        <div class="testimonial-carousel">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testi-item">
                                        <div class="quote-icon"><i class="las la-quote-right"></i></div>
                                        <p><%= t('home.testimonial.reviewText') %></p>
                                        <div class="testi-author">
                                            <div class="author-thumb"><img src="/assets/img/comment-1.png" alt="author"></div>
                                            <div class="author-info">
                                                <h3><%= t('home.testimonial.reviewerName') %> <span><%= t('home.testimonial.reviewerCompany') %></span></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testi-item">
                                        <div class="quote-icon"><i class="las la-quote-right"></i></div>
                                        <p><%= t('home.testimonial.reviewText') %></p>
                                        <div class="testi-author">
                                            <div class="author-thumb"><img src="/assets/img/comment-1.png" alt="author"></div>
                                            <div class="author-info">
                                                <h3><%= t('home.testimonial.reviewerName') %> <span><%= t('home.testimonial.reviewerCompany') %></span></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testi-item">
                                        <div class="quote-icon"><i class="las la-quote-right"></i></div>
                                        <p><%= t('home.testimonial.reviewText') %></p>
                                        <div class="testi-author">
                                            <div class="author-thumb"><img src="/assets/img/comment-1.png" alt="author"></div>
                                            <div class="author-info">
                                                <h3><%= t('home.testimonial.reviewerName') %> <span><%= t('home.testimonial.reviewerCompany') %></span></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div><!-- Carousel Dots -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="feature-wrap">
                        <div class="section-heading mb-30">
                            <h4 class="white"><span></span><%= t('home.features.eyebrow') %></h4>
                            <h2 class="white"><%= t('home.features.title') %></h2>
                            <p class="white"><%= t('home.features.description') %></p>
                        </div>
                        <!--/.section-heading-->
                        <ul class="ridek-features">
                            <li>
                                <div class="feature-icon">
                                    <i class="las la-gem"></i>
                                </div>
                                <div class="feature-content">
                                    <h3><%= t('home.features.safeGuarantee') %></h3>
                                    <p><%= t('home.features.itemDescription') %></p>
                                </div>
                            </li>
                            <li>
                                <div class="feature-icon">
                                    <i class="las la-taxi"></i>
                                </div>
                                <div class="feature-content">
                                    <h3><%= t('home.features.fastPickups') %></h3>
                                    <p><%= t('home.features.itemDescription') %></p>
                                </div>
                            </li>
                            <li>
                                <div class="feature-icon">
                                    <i class="las la-tachometer-alt"></i>
                                </div>
                                <div class="feature-content">
                                    <h3><%= t('home.features.quickRide') %></h3>
                                    <p><%= t('home.features.itemDescription') %></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/.testimonial-section-->

    <section class="team-section padding">
        <div class="container">
            <div class="section-heading text-center mb-40">
                <h4><span></span><%= t('home.pricing.eyebrow') %></h4>
                <h2><%= t('home.team.title', 'Our Expert Drivers') %></h2>
                <p><%= t('home.team.description', 'We successfully cope with tasks of varying complexity, provide long-term guarantees and regularly master new technologies.') %></p>
            </div>
            <div class="row">
                <% const aboutDrivers = typeof drivers !== 'undefined' && Array.isArray(drivers) ? drivers : []; %>
                <% if (aboutDrivers.length) { aboutDrivers.forEach(function(driver) { %>
                    <%- include('../partials/driver-team-item', { driver: driver, t: t, withLocale: typeof withLocale === 'function' ? withLocale : null }) %>
                <% }); } else { %>
                    <div class="col-12 text-center text-muted py-4"><%= t('home.team.noDrivers', 'No drivers published yet. Add drivers in the admin panel.') %></div>
                <% } %>
            </div>
        </div>
    </section>
    <!--/.team-section-->

    <section class="cta-section-2 padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="cta-content">
                        <h4><%= t('home.cta.serviceLabel') %></h4>
                        <h2><%= t('home.cta.feelYourJourney') %></h2>
                        <a href="#" class="default-btn"><%= t('home.cta.bookTaxiBtn') %></a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <ul class="check-list">
                        <li><i class="las la-arrow-right"></i><%= t('home.cta2.item1') %></li>
                        <li><i class="las la-arrow-right"></i><%= t('home.cta2.item2') %></li>
                        <li><i class="las la-arrow-right"></i><%= t('home.cta2.item3') %></li>
                        <li><i class="las la-arrow-right"></i><%= t('home.cta2.item4') %></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <div class="cta-men"></div>
                </div>
            </div>
        </div>
    </section>
    <!--/.cta-section-->

    <section class="blog-section bg-grey padding">
        <div class="container">
            <div class="section-heading text-center mb-40">
                <h4><span></span><%= t('pages.users.company.about-company.recent_posts', 'Recent Posts!') %></h4>
                <h2><%= t('pages.users.company.about-company.news_and_insights', 'News And Insights!') %></h2>
                <p><%= t('pages.users.company.about-company.we_successfully_cope_with_tasks_of_varying_compl', 'We successfully cope with tasks of varying complexity, provide long-term') %> <br><%= t('pages.users.company.about-company.guarantees_and_regularly_master_new_technologies', 'guarantees and regularly master new technologies.') %></p>
            </div>
            <!--/.section-heading-->
            <div class="row grid-post">
                <div class="col-lg-4 col-md-6 padding-15">
                    <div class="post-card">
                        <div class="post-thumb">
                            <img src="/assets/img/post-1.jpg" alt="post" />
                            <a href="/blog/details" class="post-category"><%= t('pages.users.company.about-company.business', 'Business') %></a>
                        </div>
                        <div class="post-content-wrap">
                            <ul class="post-meta">
                                <li><i class="las la-calendar"></i><%= t('pages.users.company.about-company.jan_01_2022', 'Jan 01 2022') %></li>
                                <li><i class="las la-user"></i><%= t('pages.users.company.about-company.elliot_alderson', 'Elliot Alderson') %></li>
                            </ul>
                            <div class="post-content">
                                <h3>
                                    <a href="/blog/details" class="hover"><%= t('pages.users.company.about-company.how_to_start_initiating_an_startup_in_few_days', 'How to start initiating an startup in few days.') %></a>
                                </h3>
                                <p><%= t('pages.users.company.about-company.financial_experts_support_or_help_you_to_to_find', 'Financial experts support or help you to to find out which way you can raise your funds more...') %></p>
                                <a href="/blog/details" class="read-more"><%= t('pages.users.company.about-company.read_more', 'Read More') %></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 padding-15">
                    <div class="post-card">
                        <div class="post-thumb">
                            <img src="/assets/img/post-2.jpg" alt="post" />
                            <a href="/blog/details" class="post-category"><%= t('pages.users.company.about-company.startup', 'Startup') %></a>
                        </div>
                        <div class="post-content-wrap">
                            <ul class="post-meta">
                                <li><i class="las la-calendar"></i>Jan 01 2022</li>
                                <li><i class="las la-user"></i>Elliot Alderson</li>
                            </ul>
                            <div class="post-content">
                                <h3>
                                    <a href="/blog/details"><%= t('pages.users.company.about-company.financial_experts_support_help_you_to_find_out', 'Financial experts support help you to find out.') %></a>
                                </h3>
                                <p>Financial experts support or help you to to find out which way you can raise your funds more...</p>
                                <a href="/blog/details" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 padding-15">
                    <div class="post-card">
                        <div class="post-thumb">
                            <img src="/assets/img/post-3.jpg" alt="post" />
                            <a href="/blog/details" class="post-category"><%= t('pages.users.company.about-company.finance', 'Finance') %></a>
                        </div>
                        <div class="post-content-wrap">
                            <ul class="post-meta">
                                <li><i class="las la-calendar"></i>Jan 01 2022</li>
                                <li><i class="las la-user"></i>Elliot Alderson</li>
                            </ul>
                            <div class="post-content">
                                <h3>
                                    <a href="/blog/details"><%= t('pages.users.company.about-company.innovative_business_all_over_the_world', 'Innovative business all over the world.') %></a>
                                </h3>
                                <p>Financial experts support or help you to to find out which way you can raise your funds more...</p>
                                <a href="/blog/details" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/.blog-section-->

    <%- include('../../shared/partials/legacy-footer') %>
