<%- include('../../shared/partials/legacy-head') %>
<%- include('../../shared/partials/legacy-header-nav') %>

<section class="page-header">
        <div class="page-header-shape"></div>
        <div class="container">
            <div class="page-header-info">
                <h4><%= t('pages.services.details.header.eyebrow') %></h4>
                <h2><%= t('pages.services.details.header.titleLine1') %> <br> <%= t('pages.services.details.header.titleLine2') %> <span><%= t('pages.services.details.header.titleBrand') %></span></h2>
                <p><%= t('pages.services.details.header.description') %></p>
            </div>
        </div>
    </section>
    <!--/.page-header-->

    <section class="service-details bg-grey padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 sm-padding">
                    <div class="service-details-info">
                        <img src="/assets/img/post-2.jpg" alt="img">
                        <h2><%= t('pages.services.details.title') %></h2>
                        <p><%= t('pages.services.details.paragraph1') %></p>
                        <p><%= t('pages.services.details.paragraph2') %></p>
                        <ul class="service-features">
                            <li>
                                <div><i class="las la-shipping-fast"></i></div>
                                <div>
                                    <h3><%= t('pages.services.details.features.fastPickups.title') %></h3>
                                    <p><%= t('pages.services.details.features.fastPickups.description') %></p>
                                </div>
                            </li>
                            <li>
                                <div><i class="las la-taxi"></i></div>
                                <div>
                                    <h3><%= t('pages.services.details.features.instantCar.title') %></h3>
                                    <p><%= t('pages.services.details.features.instantCar.description') %></p>
                                </div>
                            </li>
                            <li>
                                <div><i class="las la-tachometer-alt"></i></div>
                                <div>
                                    <h3><%= t('pages.services.details.features.safeDrive.title') %></h3>
                                    <p><%= t('pages.services.details.features.safeDrive.description') %></p>
                                </div>
                            </li>
                            <li>
                                <div><i class="las la-user-astronaut"></i></div>
                                <div>
                                    <h3><%= t('pages.services.details.features.support247.title') %></h3>
                                    <p><%= t('pages.services.details.features.support247.description') %></p>
                                </div>
                            </li>
                        </ul>
                        <p><%= t('pages.services.details.paragraph3') %></p>
                        <div class="service-details-list">
                            <img src="/assets/img/post-1.jpg" alt="img">
                            <div>
                                <h3><%= t('pages.services.details.benefits.title') %></h3>
                                <p><%= t('pages.services.details.benefits.description') %></p>
                                <ul class="service-icon-list">
                                    <li><i class="las la-hand-point-right"></i><%= t('pages.services.details.benefits.item1') %></li>
                                    <li><i class="las la-hand-point-right"></i><%= t('pages.services.details.benefits.item2') %></li>
                                    <li><i class="las la-hand-point-right"></i><%= t('pages.services.details.benefits.item3') %></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 sm-padding">
                    <div class="service-sidebar sidebar-widget">
                        <div class="widget-title service-widget">
                            <h3><%= t('pages.services.details.categories.title') %></h3>
                        </div>
                        <ul>
                            <li><a href="#"><%= t('home.services.regularTransport') %></a><i class="las la-arrow-right"></i></li>
                            <li><a href="#"><%= t('home.services.cityTransport') %></a><i class="las la-arrow-right"></i></li>
                            <li><a href="#"><%= t('home.services.airportTransport') %></a><i class="las la-arrow-right"></i></li>
                            <li><a href="#"><%= t('pages.services.details.categories.longJourney') %></a><i class="las la-arrow-right"></i></li>
                            <li><a href="#"><%= t('home.services.luggageTransport') %></a><i class="las la-arrow-right"></i></li>
                        </ul>
                    </div>
                    <div class="sidebar-widget banner">
                        <div class="banner-info">
                            <a href="/"><img class="logo" src="/assets/img/logo-light.png" alt="logo"></a>
                            <h3><%= t('pages.services.details.banner.titleLine1') %> <span><%= t('pages.services.details.banner.titleBrand') %></span></h3>
                            <p><%= t('pages.services.details.banner.description') %></p>
                            <h2 class="discount"><span>-60%</span> <%= t('pages.services.details.banner.discountSuffix') %></h2>
                            <a href="/contact" class="default-btn"><%= t('pages.services.details.banner.cta') %></a>
                        </div>
                    </div>
                    <div class="sidebar-widget">
                        <div class="widget-title">
                            <h3><%= t('pages.services.details.tagsTitle') %></h3>
                        </div>
                        <ul class="tags">
                            <li><a href="#"><%= t('pages.users.services.details.business', 'business') %></a></li>
                            <li><a href="#"><%= t('pages.users.services.details.marketing', 'marketing') %></a></li>
                            <li><a href="#"><%= t('pages.users.services.details.startup', 'startup') %></a></li>
                            <li><a href="#"><%= t('pages.users.services.details.design', 'design') %></a></li>
                            <li><a href="#"><%= t('pages.users.services.details.consulting', 'consulting') %></a></li>
                            <li><a href="#"><%= t('pages.users.services.details.strategy', 'strategy') %></a></li>
                            <li><a href="#"><%= t('pages.users.services.details.development', 'development') %></a></li>
                            <li><a href="#"><%= t('pages.users.services.details.tips', 'tips') %></a></li>
                            <li><a href="#"><%= t('pages.users.services.details.seo', 'Seo') %></a></li>
                        </ul>
                    </div>
                    <!--Tags-->
                </div>
            </div>
        </div>
    </section>
    <!--/.service-details-->

    <%- include('../../shared/partials/legacy-footer') %>
